#root {
  height: 100%;
  width: 100%;
}

.layout,
.new-post__wrapper {
  max-width: 64.063rem;
  width: 100%;
  max-width: clamp(64.063rem, calc(59.522rem + 35.105vw), 97.5rem);
  margin-left: auto;
  margin-right: auto;
}

.new-post,
.login,
.register {
  padding: 1rem 1.5rem;
}

.new-post__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wrapper {
  max-width: 31.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__wrapper img {
  width: auto;
  max-height: 18.75rem;
  object-fit: scale-down;
  border-radius: 5%;
}

.header__content {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login,
.register {
}

.login__wrapper,
.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  padding: 1rem 1.5rem;
}

.post__wrapper {
  max-width: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.post.is-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.post__wrapper.is-details .post__content {
  width: 80%;
  padding: 0 1.5rem;
}

.post__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.comment form {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.comment input {
  width: 30%;
}

.post__comment {
  padding: 1rem 3rem;
}

.comment__wrapper{
  background-color: #f3f3f3;
}

.comment__content{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment__content p{
  margin: 0;
}

.comment__content button{
  align-self: flex-end;
}

.text-italic {
  font-weight: 700;
  font-style: italic;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}
